/* --------------------------Top Bar---------------------------- */


:root {
  --cherry: #E94C4C;
  --green: #5fcac7;
}

.site-header {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  width: 100%;

}

/* body:not(.home) .site-header{
    position: unset;
} */
.top-bar-contact a {
  font: 500 14px / 20px Rubik;
  letter-spacing: 0px;
  color: #000000;
  /* padding-left: 10px; */
}

.top-bar-contact a:hover {
  color: #339D55;
}

.top-bar-contact img {
  height: 100%;
  width: 100%;
  max-width: 85%;
}

.slider-spider-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* --------------------------Header---------------------------- */
.head-togle {
  text-align: end;
  align-items: center;
  display: flex;
  /* justify-content: end; */
  padding: 0;
}

#header_widgets .header_title {
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
}

.header_title::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #fff;
  top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 83px;
}

#header .logo img {
  max-width: 70% !important;
  width: auto;
}

.menubar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}

#header .logo,
#footer .logo {
  margin: 0;
  padding: 16px 0;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  background-color: #F82938;
  padding: 0px 10px;
  height: 75px;
}

.scrolled .innermenubox {
  /* float: right !important; */
}

/*----------------Menu bar-----------*/
@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.main-navigation li {
  position: relative;
  padding: 3px 30px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 100%;
}
amp-sidebar#sidebar1 {
    display: none !important;
}

.toggle-nav.mobile-menu {
    display: none;
}
.cross-button i {
    color: #fff;
    position: absolute;
    top: 20px;
    font-size: 30px;
    right: 30px;
}


.primary_nav>li:hover>ul ul {
  display: block;
}

.primary_nav>li>ul>.menu-column-title>a {
  font: normal normal 600 18px/22px Open Sans;
  margin-block: 15px;
  display: inline-block;
}


.side-navigation ul li.current_page_item {
  border: 2px solid #fff;
  border-radius: 50px;
  background: #566e89;
  padding: 4px 26px;
  margin: 20px;
}

/* .main-navigation ul ul ul {
  left:93%;
  top: 0;
} */

.main-navigation ul ul li,
.menubar.scrolled .main-navigation ul ul li {
  float: none;
  display: block;
  text-align: left
}

.primary_nav>li>ul>li a:hover {
  color: #339D55;
}

.main-navigation ul ul li:last-child {
  border-bottom: 0;
}

.sub-menu .current-menu-item a,
#sidebar1 .main-navigation .current_page_item>a {
  background: unset;
  border: unset;
  color: #000;
}



.profile-search {
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.sub-menu li {
  padding: 6px 12px;
}


@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }
}

.topbar-cart-content {
  justify-content: end;
  gap: 25px;
}

.topbar-cart-content .count {
  color: #000;
}

.topbar-cart-content i {
  color: #000000;
  font-size: 16px;
}

.search_form {
  margin: 5px 0;
}

:focus-visible {
  outline: unset;
}

.serach-page input.search-field {
  padding: 10px
}

button.search-submit {
  border: 0;
  background-color: transparent
}

.search_form {
  margin: 5px 0;
}

input.search-field {
  border: none;
  border-radius: 4px;
  opacity: 1;
  padding: 10px 10px 9px 49px;
  background-color: #f6f6f6;
  width: 100%;
  font: 400 14px / 17px Rubik;
}

.search_form ::placeholder {
  color: #000;
}

.search_form form button::before {
  content: '\f002';
  font-family: "font awesome 6 free";
  font-weight: 900;
  font-size: 14px;
  color: #000;
}

.search_form form {
  position: relative;
  width: 290px;
}

.search_form form button {
  position: absolute;
  left: 1%;
  top: 7px;
  background: 0 0;
  height: 23px;
  opacity: 1;
  border: none;
  font-size: 0;
  padding: 1px 11px;
  border-right: 1px solid #000;
}



/*---------------- Custom Footer ----------------------*/
#custom_footer {
  padding: 0;
}

.footer-contact i {
  font-size: 35px;
  color: var(--lightgrey11);
}

.footer-contact p {
  font-size: 14px;
  color: var(--lightgrey11);
  margin: 0;
}

.footer-contact {
  background-size: 100% 50% !important;
  position: relative;
  top: -34px;
}

.footer-contact h2 {
  color: #fff;
  font: normal normal normal 36px/35px DM Serif Display;
}

.footer-contact-detail {
  /* transform: translate(10px, 80%); */
  color: #fff;
  margin-top: 30%;
}

.footer-menu-wrap {
  padding: 40px 15px;
  border-bottom: solid 1px var(--grey2);
}

.footer-menu ul {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.footer-menu ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.footer-menu ul li a {
  color: var(--lightgrey11);
  font-size: 14px;
  text-transform: uppercase;
}

.footer-menu ul li a:hover {
  color: var(--orange);
}

/*---------------- Footer Section ----------------------*/
.footer-top {
  padding-bottom: 50px;
}

.footer-top-col h3 {
  font-size: 20px;
  font-weight: bold;
}

.outer-footer {
  background-size: 100% 100%;
}

.top-social-icon .topbar-number-text,
.top-social-icon .topbar-email-text {
  z-index: 1;
}

.copyright-outer .term-info {
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

#footer {
  text-align: center;
  color: #fff;
  text-align: left;
  background-size: cover;
  background-repeat: no-repeat;
  background: #000;
}

.footer_hide {
  display: none;
}

.footer-top-col {
  border-left: solid 5px var(--orange);
  padding-left: 15px;
}

#footer ul {
  margin: 0;
}

#footer ul li {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 5px;
}

#footer ul li a {
  color: #fff;
  font: 400 14px / 24px Rubik;
}

#footer ul li a:hover {
  color: #FCB900;
}

#footer .footer-col-one p {
  margin: 20px 0;
  font: 400 14px / 30px Rubik;
}

.copyright p {
  font: 500 14px / 30px Rubik;
  margin: 0px;
}

.copyright a {
  color: #fff
}

.copyright a:hover {
  color: #339D55;
}

.widget_recent_entries img {
  width: 100px;
}

#footer .footer-col-one {
  padding-right: 5%;
}

#footer h3 {
  font: 500 22px / 24px Rubik;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 38px;
}

#footer .footer-col-one .textwidget {
  font: 400 16px/25px Inter;
}

#menu-quick-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}

.about_me h6 {
  font: 500 16px / 29px Rubik;
  color: #FFFFFF;
}

.widget_wpb_widget a {
  font: 400 14px / 27px Rubik;
  letter-spacing: 0px;
  color: #b3b3b3;
}

.instagram-shortcode {
  background: #339D55;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  margin-bottom: -5%;
  position: relative;
}

#sb_instagram {
  padding-bottom: 0 !important
}

.sbi_item,
.sbi_photo {
  /* width: 125px !important; */
  height: 94px;
  border-radius: 12px;
}

.inst-logo img {
  height: 73px;
  width: 73px;
}

.instagram-shortcode h4 {
  font: 600 21px / 30px Kalam;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px #00000029;
}
.outer-footer{
  background: #000;
}

.copyright-outer .container {
  background: var(--primary);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#footer_box {
  padding-bottom: 35px;
}

/*-----------------Header Cart----------------*/
#cart {
  box-shadow: 0 3px 6px #00000029;
  background: #fff;
  width: 330px;
  left: 0px;
  top: 29px;
  margin: 0px auto;
  text-align: left;
  padding: 20px;
  position: absolute;
  z-index: 999999;
  display: none;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  box-shadow: 0 0 4px #19213f7d;
  border: 1px solid #339D55;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }

  80% {
    transform: scaleY(1.1)
  }

  100% {
    transform: scaleY(1)
  }
}

.cart_box:hover #cart {
  display: block;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

#cart .woocommerce a.button {
  background: #339D55;
  padding: 10px 20px !important;
  font-size: 12px;
  color: white;
  font: normal normal 600 14px / 14px Rubik;
}

.order-track-hover button.button.wp-element-button {
  padding: 10px 20px;
}

#cart .woocommerce a.button:hover,
.order-track-hover button.button.wp-element-button:hover {
  background: transparent;
  border: 1px solid #339D55;
  color: #339D55 !important;
}

.mini_cart_item img {
  background: #FEF4D8;
  padding: 5px;
  border-radius: 10px;
}

#cart .widget_shopping_cart_content p {
  margin: 0;
}

/* #cart .woocommerce-mini-cart__total strong,#cart .woocommerce-mini-cart__total span {
  color: #ffffff;
  font-weight: 600;
} */

#header .woocommerce form .form-row,
#header .woocommerce form .form-row {
  width: 100%;
}

#cart .woocommerce-mini-cart__total {
  padding-left: 27px;
}

#cart .woocommerce .widget_shopping_cart .total,
#cart .woocommerce.widget_shopping_cart .total {
  border-top: 1px solid #eee;
  padding: 10px 0;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li {
  padding-left: 0;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
  right: 0;
  left: unset;
  top: -2px;
  font-size: 16px !important;
  padding: 0px;
}

#header .mini_cart_item a {
  font: normal normal 600 14px / 16px Rubik;
  letter-spacing: 0px;
  color: #000000;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: left !important;
  margin-right: 24px;
  width: 20%;
  object-fit: cover;
  margin-bottom: 10px;
}

.woocommerce a.remove {
  background: #339D55;
  color: white !important;
}

.alert.alert-minimalist {
  background-color: rgb(255, 255, 238);
  border-color: #339D55;
  border-radius: 3px;
  color: rgb(149, 149, 149);
  box-shadow: 0px 0px 5px rgb(51 51 51 / 30%);
  padding: 10px;
  z-index: 9999999 !important;
  height: auto;
  width: 26% !important;
  background: #fff;
  padding: 10px 23px;
  box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;

}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert.alert-minimalist img {
  width: 50px;
}

.prod-title {
  font: 600 16px / 25px Rubik;
  color: #000000;
}

.prod-messg {
  font: normal normal normal 14px / 24px Rubik;
  color: #000000;
}

.pull-left {
  float: none;
}

.footer-contact .media-body a {
  color: var(--lightgrey11);
}

.custom-social-icons {
  display: flex;
  gap: 10px;
}

#footer .social_widget i {
  background: #FFFFFF;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  color: #000;
  border-radius: 5px;
  font-size: 18px;
}

#footer .social_widget i:hover {
  background: #339D55;
  color: #fff;
}

.custom-social-icons a span {
  display: none;
}

.search-icon i {
  cursor: pointer;
}

.outer-footer {
  position: relative;
}

.footer-spider-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 220px;
}



.profile-search div,
.profile-search a {
  color: #fff;
}

a#return-to-top {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 1%;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #fff;
  bottom: 5%;
}

body>a.save-post-button.save {
  display: none;
}
.footer-payment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  height: max-content;
}
aside.widget_text {
  width: 100%;
}
.imma-image-link-wrapper {
  max-width: 50px;
}
.profile {
  display: flex;
  gap: 30px;
}
a.border-right {
  position: relative;
  line-height: 30px;
}

a.border-right::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: -16px;
  background: #fff;
  width: 2px;
}
a.user-profile {
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.user-menu-modal ul {
  list-style: none;
}
.user-menu-modal {
  position: absolute;
  padding: 10px;
  background: #fff;
  color: #000;
}
.user-menu-modal {
  position: absolute;
  padding: 20px 30px;
  background: #fff;
  color: #000;
  border-radius: 12px;
  top: 110%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-menu-modal {
  width: 16rem;
}
.user-menu-modal li a {
  color: #000;
  display: inline-block;
  margin-bottom: 7px;
}
.user-profile {
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user-menu-modal li a {
    color: #000;
    display: inline-block;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-menu-modal{
  display: none;
}
.user-menu-modal.active {
    display: block;
}
.user-menu-modal ul li:last-child a {
  margin-bottom: 0px;
}

/* footer translate  */
select.gt_selector.notranslate {
  background: #0000;
  border: none;
  color: #fff;
  width: 70px;
}
p.copyright-text {
  text-align: left !important;
  color: #fff;
}

select.gt_selector option {
  color: #000 !important;
}

.sticky.stickynavbar {
  position: fixed;
  width: 100%;
  background: var(--primary);
}

.menu-wrapper-primary{
  width: 0px !important;
}
.primary_nav {
  position: absolute;
  background: #000;
  width: 21vw;
  height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 99;
  align-items: center;
  padding-top: 40px;
  gap: 10px;
}
nav#site-navigation ul li a {
  font-size: 22px;
  color: #fff;
  /* margin-top: 60px; */
}
div#header {
    overflow: hidden;
}
.primary_nav {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
}
.cross-button,#menu-toggleBtn{
  font-size: 22px;
  cursor: pointer;
}
.primary_nav.menu_open {
  transform: translateX(0px);
}
html{
  overflow-x: hidden;
}

.main-navigation ul ul li, .menubar.scrolled .main-navigation ul ul li {
  float: none;
  display: block;
  text-align: left;
  text-align: center;
}
ul.sub-menu li a {
  font-size: 17px ;
  font-weight: 500;
  font-family: 'Outfit','sans';
}
.dropdown-btn {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #fff;
  font-size: 20px;
}
.dropdown-btn.active {
  rotate: 180deg;
}
ul.sub-menu {
  display: none;
}

.menu-wrapper-primary {
  width: 0px !important;
  /* display: none; */
  position: absolute;
  right: 0;
  top: 0;
}
html{
  margin-top: 0px !important;
}
